<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hackathon Starter</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Hackathon Starter Template <code>&lt;/&gt;</code></h1>
        <hr>
        <p class="lead">
            Thanks for checking this out!
        </p>
        <a class="btn btn-primary" href="https://github.com/raghav-misra/hackathon-starter/generate" style="color: white;">
            Use Template
        </a>
        <a class="btn btn-primary" href="https://github.com/raghav-misra/hackathon-starter">
            View Source
        </a>
    </div>

    <div class="container">
        <h2>What is this?</h2>
        <p class="lead">
            Node.js hackathon starter template with:
            <ul>
                <li><b>Express</b> for a server and any API routes.</li>
                <li><b>TypeScript</b> for better JS.</li>
                <li><b>Nodemon</b> for hot-reloading.</li>
                <li><b>Handlebars</b> for server-side HTML templating.</li>
                <li><b>Bootstrap</b> so you don't waste time styling your website.</li>
                <li><b>jQuery Slim</b> because Bootstrap includes it.</li>
            </ul>
        </p>
        <hr>
        <h2>Set Up?</h2>
        <p class="lead">
            Getting started with the template is really easy!
            <ol>
                <li>Click <a href="https://github.com/raghav-misra/hackathon-starter/generate">here</a> and create a new repo with this template.</li>
                <li>Clone the repo to your local machine.</li>
                <li>Install all the dependencies by running <code>npm i</code>.</li>
                <li>Now you're all set up!</li>
            </ol>
        </p>
        <p class="lead">
            <b>OR</b><br>
            <a href=""><img alt="Run on Replit" src="assets/replit.svg"></a>
            <p>Use <a href="https://repl.it">repl.it</a> to get up and running immediately!</p>
        </p>
            
            
        <hr>
        <h2>User Guide:</h2>
        <p class="lead">
            NPM scripts included by default.
            <ol>
                <li>Use <code>npm start</code> to start the Express server.</li>
                <li>Use <code>npm test</code> to start the server with Nodemon hot-reloading.</li>
                <li>Use <code>npm run build</code> to compile the frontend TypeScript into JS.</li>
            </ol>
        </p>
        <hr>
        <h2>Happy Hacking!</h2>
        <p class="lead">Let us know if you win! 😄</p>
        <hr>
    </div>
    <br>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>